@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

.splide{
    margin-left: 9%;
    margin-top: 10%;
}
.splide__arrow {

    margin-left: 10px;
}


body{
    background-color: rgb(230, 221, 221);
}
.splide__slide__container{
    /* background-image: url(../images/image.png); */
    height:300px;
   

}
.card{
    background-image: url(../images/coloredmen.png);
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
}
.card:hover{
    background-image: url(../images/transitionlayer4b.png);
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
}

.card1{
    background-image: url(../images/guywithglasses.png);
    height: 100%;
    width: 330px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
   
}

.card1:hover{
    background-image: url(../images/transitionlayer3b.png);

}
.card2{
    background-image: url(../images/girlinincoloreddress.png);
    height: 100%;
    width: 330px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
   
}

.card2:hover{
    background-image: url(../images/transitionlayer5b.png);
}
.card2{
    background-image: url(../images/girlinincoloreddress.png);
    height: 100%;
    width: 330px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
   
}
.card3{
    background-image: url(../images/cardigan.png);
    height: 100%;
    width: 330px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
   
}
.card3:hover{
    background-image: url(../images/image.png);
    
}
.card4{
    background-image: url(../images/redhairgirl.png);
    height: 100%;
    width: 330px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
   
}
.card4:hover{
    background-image: url(../images/transitionlayer7b.png);
}
.card5{
    background-image: url(../images/coloredgirl.png);
    height: 100%;
    width: 330px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
   
}
.card5:hover{
    background-image: url(../images/transitionlayer8b.png);
}







.item .card-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.item:hover .card-top{
    display: inline;
}

.wrapper{
    max-width: 330px;
    display: flex;
    background-color: white;
}

.text-container{
    padding: 15px;
    margin-left: 10px;
    margin-right: 15%;
}

.item-name{
    font-size: 16px;
    font-weight: 700;
    color: rgb(78, 74, 74);
}

.price-container{
    padding: 15px;
}

.price-main{
    font-size: 18px;
    font-weight: 700;
    color: rgb(69, 65, 65);}
/* .splide{
    mar
} */
.item-name {
color: black;
}
.item-name:hover {
    color:chocolate;
    }
